.mooce-mdiicons .mooce-icon-not-found {
  text-align: center;
  padding: 15px;

}
.mooce-mdiicons .mooce-browse-wrapper {
  padding-top: 15px;
}

.mooce-mdiicons .mooce-browse-wrapper .mooce-icon-wrapper {
  padding: 15px 0;
}


.mooce-mdiicons .mooce-field-wrapper {
  position: relative;
}

.mooce-mdiicons .mooce-field-control .mooce-field-value {
  padding:6px;
  float:left;
}
.mooce-mdiicons .mooce-field-control .mooce-field-value span {
  display: inline-block;
  padding: 0.25rem;

}
.mooce-mdiicons .mooce-field-control span:hover button {
  visibility: visible;
}
.mooce-mdiicons .mooce-field-control span button {
  visibility: hidden;
  background: none;
  border:none;
  font-size: 1.5rem;
  color:#ff008d;
}
.mooce-mdiicons .mooce-field-control .mdi {
  padding-left: 5px;
  font-size:1.25rem;
  top:2px;
  right:-5px;
  position: relative;
}

.mooce-mdiicons .mooce-field-control button {
  float: right;
}

.mooce-mdiicons .mooce-field-wrapper input {
  width:100%;
}
.mooce-mdiicons .mooce-field-wrapper .mdi.mdi-magnify {
  position: absolute;
  top:0.4rem;
  right: 0.4rem;
  font-size: 1.5rem;
  color:#a2a1a6;
  pointer-events: none;
}
.mooce-mdiicons small {
  color:#a2a1a6;
  padding: 0.5rem;
  display: block;
}

.mooce-mdiicons .mooce-icon-wrapper button {
  width:50px;
  height:50px;
  float:left;
  font-size: 1.5rem;
}