<div class="mooce-mdiicons" ng-controller="Mooce.MdiIconPicker">
    <div class="mooce-field-control clearfix" ng-show="hasSelected()">
        <button ng-click="toggleBrowser($event)" class="btn">Pick Icon<i class="mdi" ng-class="{ 'mdi-chevron-down' : !hasBrowser(), 'mdi-chevron-up' : hasBrowser() }"></i></button>
        <span>
            <button ng-click="clear($event)" class="mdi mdi-close"></button>
            <label>{{ model.value }}</label>
        </span>
    </div>

    <div class="mooce-browse-wrapper" ng-show="hasBrowser()">
        <div class="mooce-field-wrapper">
            <input ng-model="query" type="text" placeholder="Search for icon" />
            <i class="mdi mdi-magnify"></i>
        </div>
        
        <div class="mooce-icon-wrapper clearfix">
            <button class="btn" ng-repeat="icon in icons | filter:query | limitTo : 30" ng-click="pick(icon, $event)" ng-style="{ background : (model.value == icon) ? '#33bf81' : 'white' }"> 
                <i class="mdi {{ icon }}"></i>
            </button>
        </div>
    </div>

</div>